.about-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;

    background: var(--color-background-dark);
    overflow: hidden;

    position: relative;
}

.about-page-light {
    background: var(--color-background-light);
}

.about-page__background-gradients {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;

    background:
        var(--background-second-gradient-dark),
        var(--background-third-gradient-dark);
}

.about-page__background-gradients-light {
    background:
        var(--background-second-gradient-light),
        var(--background-third-gradient-light);
}

.about-page__bowl {
    position: fixed;
    width: 30rem;
    height: 30rem;
    top: -4rem;
    left: -17%;
}

.about-page__title {
    display: flex;
    justify-content: end;
    width: 100%;
    padding: 2rem 8rem;

    color: var(--color-primary);
    font-family: var(--font-heading);
    font-size: 12rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    z-index: 0;

    /* border: 1px solid white; */
}

.about-page__title-light {
    color: var(--color-tertiary);
}

.about-page__profile-picture {
    margin-top: 10rem;

    border-radius: 50%;
    width: 20rem;
    height: 20rem;

    overflow: hidden;
}

.about-page__profile-picture>img {
    width: 100%;
    height: 100%;
    z-index: 1;
    object-fit: cover;
}

.about-page__infos {
    display: flex;
    flex-direction: row;
    position: relative;
    top: -8rem;
    padding: 1rem 2rem 1rem 4rem;
    gap: 8rem;
    margin-bottom: 16rem;
    z-index: 1;

    /* border: 2px solid red; */
}

.about-page__infos-displayer {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 1rem 2rem;
    gap: 2rem;

    width: 50%;
    border-radius: 2rem;
    background: var(--white-10);
    backdrop-filter: blur(5rem);
    box-shadow: 0.5rem 0.5rem 1rem 0.25rem rgba(0, 0, 0, 0.25);

    /* border: 1px solid white; */
}

.about-page__infos-displayer-light {
    background: var(--black-25);
    box-shadow: 0.5rem 0.5rem 1rem 0.25rem rgba(125, 143, 151, 0.25);
}

.about-page__infos-displayer>h1 {
    color: var(--color-primary);
    font-family: var(--font-heading);
    font-size: 1.5rem;
    text-align: justify;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.about-page__infos-displayer-light>h1 {
    color: var(--white-100);
}

.about-page__infos-displayer>p {
    color: var(--color-primary);
    font-family: var(--font-paragraph);
    font-size: 1.2rem;
    text-align: justify;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.about-page__infos-displayer-light>p {
    color: var(--white-100);
}

.about-page__contact {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.contact-page__button {
    font-size: 1rem;
    text-decoration: none;
}

.tools-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    width: 100%;

    /* border: 1px solid red; */
}

.about-page__tools p {
    color: var(--color-primary);
    text-align: center;
    font-family: var(--font-paragraph);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    /* border: 1px solid red; */
}

.tools-section-light p {
    color: var(--white-100);
}

.dev-tools__displayer {
    display: flex;
    align-items: center;
    justify-content: center;

    /* border: 1px solid white; */
}

.dev-tools__displayer__grid {
    display: flex;
    align-items: center;
    justify-content: center;
    /* width: 100%; */
    gap: 2rem;

    /* border: 1px solid red; */

}

.dev-tools__displayer__single-tool>img {
    height: 3rem;
    width: auto;
    object-fit: contain;

    /* border: 1px solid red; */
}

@media screen and (max-width:1024px) {
    .about-page__bowl {
        top: -12rem;
        left: -25%;
    }
    .about-page__title {
        padding: 2rem 6rem;
        font-size: 8rem;
    }
    .about-page__infos {
        top: -4rem;
        gap: 4rem;
    }
}

@media screen and (max-width:768px) {
    .about-page__bowl {
        top: -18rem;
        left: -45%;
    }
    .about-page__title {
        padding: 2rem 4rem;
        font-size: 6rem;
    }
    .about-page__profile-picture {
        margin-top: 6rem;
        width: 16rem;
        height: 16rem;
    }
    .about-page__infos {
        flex-direction: column;
        padding: 0rem 4rem;
    }
    .about-page__infos-displayer {
        width: 100%;
    }
}

@media screen and (max-width:425px) {
    .about-page__bowl {
        top: -45%;
        left: -60%;
    }
    .about-page__title {
        padding: 4rem 2rem;
        font-size: 4rem;
    }
    .about-page__profile-picture {
        margin-top: 4rem;
        width: 12rem;
        height: 12rem;
    }
    .about-page__infos {
        top: -2rem;
        gap: 2rem;
        padding: 0rem 2rem;
    }
}

@media screen and (max-width:320px) {
    .about-page__bowl {
        top: -45%;
        left: -80%;
    }
}