.project-logo-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;
    padding: 2rem;
    border-radius: 2rem;
    border: none;
    backdrop-filter: blur(2rem);
    background: var(--white-10);

    transition: all 0.1s ease-in-out;

    /* border: 1px solid white; */
}

.project-logo-button-light {
    background: var(--black-25);
}

.project-logo-button:hover {
    cursor: pointer;
    background: var(--white-25);
    transform: scale(1.025);
}

.project-logo-button-light:hover {
    cursor: pointer;
    background: var(--black-10);
    transform: scale(1.025);
}

.project-logo-button>img {
    width: 10rem;
}

.project-infos {
    display: flex;
    flex-direction: column;
    align-items: center;

    padding: 1rem 2rem;
    gap: 4rem;

    height: 100%;
    max-width: 70%;

    z-index: 0;

    /* border: 1px solid red; */

}

.project-infos__desc {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 1rem;

    /* border: 1px solid white; */
}

.project-infos__desc>h1 {
    color: var(--color-primary);
    text-align: center;

    font-family: var(--font-heading);
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.project-infos__desc-light>h1 {
    color: var(--color-secondary);
}

.project-infos__desc>p {
    color: var(--color-primary);
    text-align: center;
    font-family: var(--font-paragraph);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: justify;

    max-width: 70%;
}

.project-infos__desc-light>p {
    color: var(--color-secondary);
}

.project-infos__tools {
    display: flex;
    flex-direction: row;
    width: 100%;
    justify-content: center;
    gap: 3rem;
}

.project-infos__tools>img {
    height: 3rem;
}

.project-modal__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: baseline;
    overflow: scroll;
    width: 100%;
    height: 100%;

    z-index: 100;
    padding: 4rem;
    gap: 4rem;
    border-radius: 4rem;

    background: var(--white-10);
    backdrop-filter: blur(3rem);
    box-shadow: 0.5rem 0.5rem 1rem 1rem rgba(0, 0, 0, 0.25);
}

.project-modal__content-light {
    background: var(--black-25);
    box-shadow: 0.5rem 0.5rem 1rem 1rem rgba(116, 132, 143, 0.25);
}

.project-modal__title {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 2rem;
}

.project-modal__title>img {
    height: 4rem;
}

.project-modal__description {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 2rem;

    /* border: 1px solid white; */
}

.project-modal__description>p {
    color: var(--color-primary);
    text-align: center;

    font-family: var(--font-heading);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: justify;
}

.project-modal__description-light>p {
    color: var(--color-secondary);
}

.project-modal__buttons {
    display: flex;
    flex-direction: row;
    gap: 2rem;
}

.project-modal__single-image>img,
.project-modal__single-image>p {
    width: 60%;
}

.project-modal__single-image>p {

    color: var(--color-primary);
    font-family: var(--font-paragraph);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    text-align: justify;
}

.project-modal__single-image-light>p {
    color: var(--color-secondary);
}