.button {
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 2rem;
    backdrop-filter: blur(1.5rem);

    transition: all 0.1s ease-in-out;
}

.button-dark {
    background: var(--black-10);
}

.button-light {
    background: var(--black-25);
}

.button:hover {
    background-color: var(--white-10);
    cursor: pointer;
}

.nav-btn {
    padding: 1rem 2rem;

    transform: rotate(-90deg);
    box-shadow: -8px 8px 16px 0px rgba(0, 0, 0, 0.25);
}

.nav-btn>p {
    white-space: nowrap;
    color: var(--color-tertiary);
    font-family: var(--font-paragraph);
    font-size: 1.5rem;
    font-style: normal;
    text-align: center;
    font-weight: 300;

    /* border: 1px solid white; */
}

.nav-btn-light>p {
    color: var(--color-primary);
}

.nav-btn:hover {
    background: var(--white-50);
}

.nav-btn:hover>p {
    color: var(--color-secondary);
}

.language-button {
    padding: 0.75rem 1rem;

    text-align: right;
    font-family: var(--font-paragraph);
    font-size: 1.25rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;

    transition: all 0.1s ease-in-out;
}

.language-button-dark {
    color: var(--color-tertiary);
}

.language-button-light {
    color: var(--color-primary);
}

.light-mode-button {
    display: flex;
    align-items: center;
    justify-self: center;

    width: 3rem;
    height: 3rem;

    /* border: 1px solid white; */
}

.light-mode-button svg {
    display: flex;
    align-items: center;
    justify-content: center;

    /* border: 1px solid white; */
}

.light-mode-button:hover svg .sun-rays {
    transform-origin: center center;
    animation: sun-rotation infinite 4s linear;
}

@keyframes sun-rotation {
    0% {
        transform: scale(1.1) rotate(0deg);
    }

    50% {
        transform: scale(1.1) rotate(180deg);
    }

    100% {
        transform: scale(1.1) rotate(360deg);
    }
}

.moon:hover svg path {
    d: path("M26.4116 16.574C28.5 17.5 29.7605 19.2717 30.4116 20.574C31.0627 21.8762 31.4286 24 31 25.5C30 29 27.2878 31 23.5 31C19.3668 31 16 27.6353 16 23.502C16 20.1248 18.1251 17.3041 21.3099 16.3387C22.4116 16.0048 24.7308 15.8287 26.4116 16.574Z");
    stroke: "#384B6B";
    stroke-width: "2.29412";
    stroke-linecap: "round";
    stroke-linejoin: "round";
    transition: 0.2s;
}

.contact-button {
    padding: 1rem 4rem;
    border-radius: 2rem;
    backdrop-filter: blur(2rem);

    /* border: 1px solid white; */
}

.contact-button>p {
    color: var(--color-primary);

    font-family: var(--font-heading);
    font-size: 2rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

/* .contact-button:hover { */
.contact-button:hover {
    background-color: var(--white-50);
    cursor: pointer;
    animation: contact-button-hover forwards 0.1s ease-in-out;
}

.contact-button>p {
    transition: all 0.1s ease-in-out;
}

/* .contact-button:hover>p { */
.contact-button:hover>p {
    color: var(--color-secondary);
    animation: contact-button-p-hover forwards 0.1s ease-in-out
}

@keyframes contact-button-hover {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(1.1);
    }

    100% {
        transform: scale(1.05);
    }
}

@keyframes contact-button-p-hover {
    0% {
        transform: scale(1);
    }

    50% {
        transform: scale(0.9090909);
    }

    100% {
        transform: scale(1);
    }
}

.about-me-button {
    padding: 1rem 2rem;

    color: var(--color-primary);
    text-align: center;

    font-family: var(--font-heading);
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.about-me-button-light {
    background: var(--white-10);
    color: var(--white-100);
}

.about-me-button-light:hover {
    background: var(--white-25);
}

.button-with-icon {
    padding: 1rem 2rem;

    gap: 1rem;
}

.button-with-icon>p {
    color: var(--color-primary);
    text-align: center;

    font-family: var(--font-heading);
    font-size: 1.5rem;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
}

.button-with-icon>img {
    height: 3rem;
}

@media screen and (max-width:768px) {

    /* annulation des effets de hover */
    .button-dark:hover {
        background: var(--black-10);
    }

    .button-light:hover {
        background: var(--black-25);
    }

    .nav-btn:hover>p {
        color: var(--color-primary);
    }

    .light-mode-button:hover svg .sun-rays {
        transform-origin: center center;
        animation: none;
    }

    .moon:hover svg path {
        d: "M21.5774 18.9386C21.5774 23.0719 24.928 26.4225 29.0612 26.4225C29.8173 26.4225 30.5472 26.3107 31.2352 26.1022C30.3038 29.1752 27.4491 31.4118 24.072 31.4118C19.9388 31.4118 16.5881 28.0613 16.5881 23.928C16.5881 20.5508 18.825 17.6961 21.898 16.7647C21.6895 17.4527 21.5774 18.1825 21.5774 18.9386Z";
    }

    .contact-button:hover {
        animation: none;
    }

    .contact-button:hover>p {
        color: var(--color-primary);
        animation: none;
    }

    .about-me-button-light:hover {
        background: var(--white-10);
    }
}

@media screen and (max-width:768px) {
    .nav-btn {
        padding: 0.5rem 1rem;
    }

    .nav-btn>p {
        font-size: 1rem;
    }

    .light-mode-button {
        width: 2rem;
        height: 2rem;
    }

    .language-button {
        padding: 0.5rem 0.75rem;
        font-size: 0.8rem;
    }

    .contact-button {
        padding: 1rem 2rem;
    }

    .contact-button>p {
        font-size: 1.5rem;
    }

    .button-with-icon:hover {
        background: var(--white-05);
    }

    .button-with-icon>p {
        font-size: 1rem;
    }

    .button-with-icon>img {
        height: 2rem;
    }
}

@media screen and (max-width:575px) {
    .nav-btn {
        padding: 0.5rem 0.75rem;
    }

    .nav-btn>p {
        font-size: 0.8rem;
    }
}

@media screen and (max-width:425px) {
    .nav-btn {
        transform: rotate(0deg);
    }

    .contact-button {
        padding: 0.75rem 1.5rem;
    }

    .contact-button>p {
        font-size: 1.2rem;
    }
}

@media screen and (max-width:375px) {
    .nav-btn>p {
        font-size: 0.6rem;
    }

    .language-button {
        font-size: 0.6rem;
    }

    .light-mode-button {
        width: 1.6rem;
        height: 1.6rem;
    }
}