.contact-page {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    background-color: var(--color-background-dark);
}

.contact-page-light {
    background-color: var(--color-background-light);
}

.contact-page__background-gradients {
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 0;
    background:
        var(--background-first-gradient-dark),
        var(--background-second-gradient-dark),
        var(--background-third-gradient-dark);
}

.contact-page__background-gradients-light {
    background:
        var(--background-first-gradient-light),
        var(--background-second-gradient-light),
        var(--background-third-gradient-light);
}

.contact-page__content {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    overflow: hidden;

    /* border: 1px solid red; */
}

.contact-page__title {
    display: flex;
    width: 100%;
    padding: 4rem;
    justify-content: end;
    align-items: center;
    z-index: 1;

    /* border: 1px solid white; */
}

.contact-page__title>h1 {
    color: var(--color-primary);
    font-family: var(--font-heading);
    font-size: 14rem;
    font-style: normal;
    font-weight: 500;
    line-height: normal;

    /* border: 1px solid white; */
}

.contact-page__title-light>h1 {
    color: var(--color-tertiary);
}

.contact-page__header {
    display: flex;
    width: 100%;
    padding: 4rem 8rem;

    z-index: 1;

    margin-bottom: 16rem;

    /* border: 1px solid white; */
}

.contact-page__header p {
    color: var(--color-primary);
    font-family: var(--font-heading);
    font-size: 2rem;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
    text-align: justify;
    max-width: 45%;
}

.contact-page__header-light p {
    color: var(--color-secondary);
}

.contact-page__options {
    display: flex;
    position: relative;

    width: 45%;
    min-height: 20rem;

    margin-bottom: 24rem;

    /* border: 1px solid white; */
}

.contact-page__bowl {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    min-width: 30rem;
}

.CV {
    position: absolute;
    left: 0;
    top: 0;
    text-decoration: none;
}

.github {
    position: absolute;
    right: 0;
    top: 0;
}

.linkedin {
    position: absolute;
    left: 0;
    bottom: 0;
}

.mail {
    position: absolute;
    right: 0;
    bottom: 0;
}

@media screen and (max-width:1200px) {
    .contact-page__options {
        width: 55%;
    }
}

@media screen and (max-width:1024px) {
    .contact-page__title {
        padding: 2rem 4rem;
    }

    .contact-page__title>h1 {
        font-size: 10rem;
    }

    .contact-page__header {
        padding: 4rem 6rem;
    }

    .contact-page__header p {
        max-width: 55%;
    }

    .contact-page__options {
        width: 60%;
    }
}

@media screen and (max-width:768px) {
    .contact-page__title {
        padding: 2rem;
        margin-bottom: -10rem;
    }

    .contact-page__title>h1 {
        font-size: 6rem;
    }

    .contact-page__header p {
        font-size: 1.5rem;
        max-width: 75%;
    }

    .contact-page__bowl {
        min-width: 20rem;
    }

    .contact-page__options {
        width: 50%;
    }
}

@media screen and (max-width:550px) {
    .contact-page__options {
        width: 60%;
    }
}

@media screen and (max-width:425px) {
    .contact-page__title {
        padding: 4rem 2rem;
        margin-bottom: -16rem;
    }

    .contact-page__title>h1 {
        font-size: 4rem;
    }

    .contact-page__header {
        padding: 2rem 4rem;
    }

    .contact-page__header p {
        font-size: 1.2rem;
        max-width: 100%;
    }

    .contact-page__bowl {
        min-width: 16rem;
    }

    .contact-page__options {
        width: 60%;
        min-height: 16rem;
    }
}

@media screen and (max-width:320px) {
    .contact-page__title {
        padding: 4rem 2rem;
        margin-bottom: -16rem;
    }

    .contact-page__title>h1 {
        font-size: 3rem;
    }

    .contact-page__header {
        padding: 2rem;
    }

    .contact-page__options {
        width: 70%;
        min-height: 16rem;
    }
}