.home-page {
    display: flex;
    position: relative;

    height: 100vh;

    background: var(--color-background-dark);
}

.home-page-dark {
    background: var(--color-background-dark);
}

.home-page-light {
    background: var(--color-background-light);
}

.home-page__background-gradients {
    position: absolute;
    width: 100%;
    height: 100%;
}

.home-page__background-gradients-dark {
    background:
        var(--background-first-gradient-dark),
        var(--background-second-gradient-dark);
}

.home-page__background-gradients-light {
    background:
        var(--background-first-gradient-light),
        var(--background-second-gradient-light);
}

.home-page__main-bowl {
    width: 40%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    /* border: 1px solid white; */
}

.my-name {
    position: absolute;

    font-family: var(--font-heading);
    font-size: 18rem;
    font-style: normal;
    line-height: normal;

    z-index: 1;
}

.my-name-dark {
    color: var(--white-100);
}

.my-name-light {
    color: var(--black-75);
}

.justin {
    left: 20%;
    top: 20%;

    font-weight: 500;
}

.juhel {
    left: 45%;
    top: 45%;

    font-weight: 700;
}

.home-page__bottom {
    display: flex;
    flex-direction: row;
    align-items: center;

    position: absolute;
    bottom: 7%;
    left: 0;

    width: 95%;

    gap: 1rem;

    /* border: 1px solid white; */
}

.home-page__bottom-line {
    width: 100%;
    height: 0.2rem;
    /* background: rgba(195, 211, 238, 0.50); */
    
}

.home-page__bottom-line-dark {
    background: var(--color-primary);
    opacity: 0.5;
}

.home-page__bottom-line-light {
    background: var(--color-secondary);
}

.my-job {
    white-space: nowrap;
    min-width: 15%;
    
    font-family: var(--font-heading);
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.my-job-dark {
    color: var(--color-primary);
    opacity: 0.5;
}

.my-job-light {
    color: var(--color-secondary);
}

@media screen and (max-width:2000px) {
    .home-page__main-bowl {
        width: 35%;
    }

    .my-name {
        font-size: 16rem;
    }

    .justin {
        top: 10%;
        left: 10%;
    }
}

@media screen and (max-width:1750px) {
    .justin {
        left: 12.5%;
    }
}