.home-page {
    display: flex;
    position: relative;

    height: 100vh;
}

.home-page-dark {
    background: var(--color-background-dark);
}

.home-page-light {
    background: var(--color-background-light);
}

.home-page__background-gradients {
    position: absolute;
    width: 100%;
    height: 100%;
}

.home-page__background-gradients-dark {
    background:
        var(--background-first-gradient-dark),
        var(--background-second-gradient-dark);
}

.home-page__background-gradients-light {
    background:
        var(--background-first-gradient-light),
        var(--background-second-gradient-light);
}

.home-page__main-bowl {
    width: 35%;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);

    /* border: 1px solid white; */
}

.my-name {
    position: absolute;

    font-family: var(--font-heading);
    font-size: 18rem;
    font-style: normal;
    line-height: normal;

    z-index: 1;
}

.my-name-dark {
    color: var(--white-100);
}

.my-name-light {
    color: var(--black-75);
}

.justin {
    left: 55%;
    top: 50%;
    transform: translate(-100%, -100%);

    font-weight: 500;
}

.juhel {
    left: 45%;
    top: 50%;

    font-weight: 700;
}

.home-page__bottom {
    display: flex;
    flex-direction: row;
    align-items: center;

    position: absolute;
    bottom: 7%;
    left: 0;

    width: 95%;

    gap: 1rem;

    /* border: 1px solid white; */
}

.home-page__bottom-line {
    width: 100%;
    height: 0.2rem;
    /* background: rgba(195, 211, 238, 0.50); */
    
}

.home-page__bottom-line-dark {
    background: var(--color-primary);
    opacity: 0.5;
}

.home-page__bottom-line-light {
    background: var(--color-secondary);
}

.my-job {
    white-space: nowrap;
    min-width: 15%;
    
    font-family: var(--font-heading);
    font-size: 1.2rem;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
}

.my-job-dark {
    color: var(--color-primary);
    opacity: 0.5;
}

.my-job-light {
    color: var(--color-secondary);
}

@media screen and (max-width:1600px) {
    .home-page__main-bowl {
        width: 35%;
    }
    .my-name {
        font-size: 14rem;
    }
}

@media screen and (max-width:1200px) {
    .my-name {
        font-size: 12rem;
    }
}

@media screen and (max-width:1024px) {
    .my-name {
        font-size: 10rem;
    }
    .my-job {
        font-size: 1rem;
    }
}

@media screen and (max-width:850px) {
    .my-name {
        font-size: 8rem;
    }
    .my-job {
        font-size: 0.8rem;
    }
}

@media screen and (max-width:650px) {
    .my-name {
        font-size: 6rem;
    }
    .my-job {
        font-size: 0.6rem;
    }
}

@media screen and (max-width:550px) {
    .my-name {
        font-size: 4rem;
    }
    .my-job {
        font-size: 0.4rem;
    }
}

@media screen and (max-width:425px) {
    .home-page__main-bowl {
        width: 60%;
    }
    .my-name {
        font-size: 6rem;
    }
    .justin {
        top: 70%;
        left: 40%;
        transform: rotate(90deg) translate(-100%,100%);
    }
    .juhel {
        top: 60%;
        left: 40%;
        transform: rotate(90deg);
    }
    .home-page__bottom-line {
        height: 0.1rem;
    }
}

@media screen and (max-width:375px) {
    .my-name {
        font-size: 5rem;
    }
}