:root {
    --color-background-dark: #0E131B;
    --color-background-light: #DFE6F1;

    --color-primary: #C3D3EE;
    --color-secondary: #384B6B;
    --color-tertiary: #7AA3EB;

    --black-100 : rgba(2,20,27,1);
    --black-75 : rgba(2,20,27,0.75);
    --black-50 : rgba(2,20,27,0.5);
    --black-25 : rgba(2,20,27,0.25);
    --black-10 : rgba(2,20,27,0.10);

    --white-100 : rgba(247,253,255,1);
    --white-75 : rgba(247,253,255,0.75);
    --white-50 : rgba(247,253,255,0.5);
    --white-25 : rgba(247,253,255,0.25);
    --white-10 : rgba(247,253,255,0.10);

    --font-heading: Zilla Slab;
    --font-paragraph: 'Manrope', sans-serif;
}